.hhh {
  
    background-color: whitesmoke;
    position: relative;
    animation-name: hhhh;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
  
  @keyframes hhhh {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:200px;}
    50%  { left:0px; top:0px;}
    75%  { left:-200px; top:200px;}
    100% { left:0px; top:0px;}
  }


